version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: spa_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: spa_db
    ports:
      - "5437:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: spa_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spa_backend
    env_file:
      - .env
    environment:
      # переопределяем подключение к postgres в контейнере
      DATABASE_URL: postgresql://user:password@postgres:5432/spa_db
    ports:
      - "9003:8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  admin:
    build:
      context: ..
      dockerfile: admin/Dockerfile
    container_name: spa_admin
    environment:
      # Если админка в Docker, используем имя сервиса backend (внутренний порт 8000)
      # Если админка запущена локально (npm run dev), используем localhost:9003
      VITE_API_BASE_URL: http://backend:8000/api/v1
    ports:
      - "3001:3001"
    depends_on:
      - backend

volumes:
  postgres_data:
  redis_data:

